<div class = "center jumbotron">
<h1>Edit To Do Item </h1>
</div>
<h1>
<%= render 'form' %>
<br>
<h1>
<%= link_to 'Show', [@todo_list, @todo_item] %>
<%= link_to '| Back',  @todo_list  %>

</div></h1>
